.matrix {
  display: grid;
  /* gap: 1px; */
  width: 50%;
  height: 50%;
  margin: auto;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.cell.active {
  background-color: blue;
}
