/* WaveEffect.css */

.wave-grid {
  display: grid;
  gap: 1px;
  width: 100%;
  height: 100%;
  /* background-color: brown; */
}

.cell {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.1);
  transition: background-color 0.5s ease;
}

.cell:hover {
  cursor: pointer;
}
